@{
    ViewBag.Title = "About Dominic";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>I am an only child with a pretty laid back personality. I love Cleveland sports, especially looking forward to the Browns this season. In my free time I enjoy watching sports and playing video games. </p>
