@{
    ViewBag.Title = "Dominic's Home Page";
}

<div class="jumbotron">
    <h1>Dominic Spain</h1>
    <p class="lead">This is my first MVC web application and it will describe myself a little bit.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Where I'm From</h2>
        <p>
            I was born in Gahanna, Ohio and at age one my family moved to Melbourne, Australia. We moved back to Lewis Center, Ohio before kindergarten. I've lived in Lewis Center ever since.'
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>My Favorite Teams</h2>
        <p>My favorite teams are the Cleveland Indians, Browns, and Cavaliers. My grandparents helped influence me at a young age to be a life long Cleveland fan.</p>
        
    </div>
    <div class="col-md-4">
        <h2>College and My Future</h2>
        <p>I have been an active ISAP member since freshman year. I added my business analytics co-major during my sophomore year. I will be working as a full-time consultant for Infoverity LLC. following my graduation in the spring.</p>
        
    </div>
</div>