@{
    ViewBag.Title = "Dominic's Contact Info";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    39 West Washington Street<br />
    Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    614.507.3620
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ds478116@ohio.edu">ds478116@ohio.edu</a><br />
    <strong>Marketing:</strong> <a href="mailto:ds478116@ohio.edu">ds478116@ohio.edu</a>
</address>